/* 
  TODO: Import an elegant font to replace the sans-serif 
*/

/* USER PREFERENCES */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
  }
}

/* GLOBAL STYLES */
:root {
  /* Colors */
  --header-white: rgb(255, 255, 255);
  --header-white-translucent: rgba(255, 255, 255, 0.25);
  --header-black: rgb(0, 0, 0);
  --primary-color-translucent: rgba(0, 0, 0, 0.75);
  --secondary-color-translucent: rgb(255, 255, 255, 0.75);
  --brand-color: rgb(255, 255, 0);
  /* Fonts */
  --primary-font: sans-serif;
}
