.main-header {
  background-image: linear-gradient(
      var(--primary-color-translucent),
      var(--primary-color-translucent)
    ),
    url("../dist/images/piano-keys.webp");
  background-position: center;
  background-size: cover;
  color: var(--header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  .cta-btn {
    border: 4px solid var(--header-color);
    border-radius: 4px;
    color: var(--header-color);
    font-weight: 600;
    padding: 8px 16px;
    text-decoration: none;
    width: fit-content;
  }
}
