/* USER PREFERENCES */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
  }
}

/* GLOBAL STYLES */
:root {
  /* Colors */
  --header-color: rgb(255, 255, 255);
  --primary-color-translucent: rgba(0, 0, 0, 0.25);
  --brand-color: rgb(255, 255, 0);
  /* Fonts */
  --primary-font: sans-serif;
}

html {
  font-family: var(--primary-font);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */
h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
